<footer>
    <div class="border"></div>
    <div class="container">
        <div class="grid">
            <div class="footerCol brandCol">
                <div class="logoContainer">
                    <img src="https://assets.levount.com/images/logos/LeVount_Logo.svg" alt="" class="logo">
                    <p class="tagline">Redefining modern luxury with ethical craftsmanship and timeless design.</p>
                </div>
            
                <div class="socialLinks">
                    <a href="https://www.facebook.com/LevountJewelry/"><i>&#xe1122;</i></a>
                    <a href="https://www.instagram.com/le_vount/"><i>&#xe1123;</i></a>
                    <a href="https://www.tiktok.com/@levount_"><i>&#xe1124;</i></a>
                </div>
            </div>

            <div class="footerCol">
                <h3 class="footerHeading">Customer Care</h3>
                <ul class="footerLinks">
                    <li><a href="">Contact us</a></li>
                    <li><a href="">Shipping & returns</a></li>
                    <li><a href="">Ring size guide</a></li>
                    <li><a href="">Track order</a></li>
                </ul>
            </div>

            <div class="footerCol">
                <h3 class="footerHeading">About</h3>
                <ul class="footerLinks">
                    <li><a href="">Our story</a></li>
                    <li><a href="">Sustainability</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Press</a></li>
                    <li><a href="">Accessibility</a></li>
                </ul>
            </div>
        </div>

        <div class="footerBottom">
            <div class="copyright">
                &copy; 2025 Le Vount Jewelry. All Rights Reserved.
                <span class="legalLinks">
                    <a href="/privacy">Privacy Policy</a>
                    <span class="separator">|</span>
                    <a href="/terms">Terms of Service</a>
                </span>
            </div>

            <div class="paymentIcons">
                <img src="https://assets.levount.com/global/images/payment/card-visa.svg" alt="Visa">
                <img src="https://assets.levount.com/global/images/payment/card-mastercard.svg" alt="MasterCard">
                <img src="https://assets.levount.com/global/images/payment/card-amex.svg" alt="American Express">
                <img src="https://assets.levount.com/global/images/payment/card-paypal.svg" alt="Pay Pal">
                <img src="https://assets.levount.com/global/images/payment/card-discover.svg" alt="Discover">
            </div>
        </div>
    </div>
</footer>