<header>
    <nav>
        <div class="upperContainer">            
            <div class="logoContainer">
                <img src="/LeVount/images/logos/LeVount_Logo.svg" onclick="window.location.href=`/`">
            </div>       
            <div class="leftContainer">
                <ul>
                    <li id="menuButton1" onclick="openLateralMenu()">&#xe1120;</li>
                    <li id="helpButton1">&#xe110c;</li>
                </ul>
            </div>
            <div class="rightContainer">
                <ul>
                    <!--<li id="searchButton1">&#xe1002;</li>-->
                    <li id="cartButton1" onclick="toggleCart()">&#xe111b;</li>
                    <li onclick="openUserMenu()" id="usrMenuButton1">&#xe10cc;</li>
                </ul>
            </div>
        </div>
        <div class="bottomContainer">
            <div id="menuDrawer">
                <ul>
                    <li onclick="window.location.href=`/products/rings`">RINGS</li>
                    <li onclick="window.location.href=`/products/earrings`">EARRINGS</li>
                    <li onclick="window.location.href=`/products/necklaces`">NECKLACES</li>
                    <li onclick="window.location.href=`/products/bracelets`">BRACELETS</li>
                    <li onclick="window.location.href=`/products/pendants`">PENDANTS</li>
                    <li onclick="window.location.href=`/products/gifts`">GIFTS</li>
                </ul>

                <ul class="mobileMenuIcons">
                    <% if(!userSession) { %>
                        <li onclick="openLateralMenu(); openUserMenu();"><i>&#xe1005;</i>LogIn</li>
                    <% } else { %>
                        <li onclick="openLateralMenu(); openUserMenu();"><i>&#xe1005;</i><%- userSession?.name?.split(" ")?.[0] + " " + userSession?.lastname?.split(" ")?.[0] %></li>
                    <% } %>
                    <li><i>&#xe110c;</i>Help</li>
                </ul>
            </div>
        </div>        
    </nav>
</header>

<!-- Menú de usuario -->
<section class="userDrawer" id="userDrawer">
    <div class="userData">
        <button class="closeButton" onclick="openUserMenu()">&#xe1105;</button>
        <% if (userSession) { %>

        <h4><%- userSession?.name?.split(" ")?.[0] + " " + userSession?.lastname?.split(" ")?.[0] %></h4>
        <ul>
            <li><a href="/account"><i>&#xe10cc;</i>My account</a></li>
            <li><a href="/purchases"><i>&#xe111c;</i>My purchases</a></li>
            <li><a href="/wishlist"><i>&#xe10f7;</i>Wishlist</a></li>
        </ul>

            <% if (userSession?.accessLevel > 1) { %>
                <h3>Administración</h3>
                <ul class="adminOptions">
                    <li><a href="/admin/sales"><i>&#xe1035;</i>Ventas</a></li>
                    <li><a href="/admin/clients"><i>&#xe1030;</i>Clientes</a></li>
                    <li><a href="/admin/inventory"><i>&#xe1043;</i>Inventario</a></li>
                </ul>
            <% } %>

        <% } else { %>

        <section class="logIn">
            <form id="logIn" onsubmit="logIn(event)">
                <div class="inputContainer">
                    <label for="eMail">Email or username</label>
                    <input type="email" name="eMail" id="eMail">
                </div>
                <div class="inputContainer">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                    <i onclick="showPass(this)">&#xe10ed;</i>
                </div>
            </form>
            <div class="errorMessage" id="errorMessage">
                <i>&#xe104d;</i>
                <p></p>
            </div>
        </section>
        <button type="button" onclick="logIn(event)"><i>&#xe104a;</i>LogIn</button>
        <a href="">Forgot your password?</a>
        <a href="" class="sign">Create an account</a>

        <% } %>
    </div>
    <div class="drawerBottom">
        <% if (userSession) { %>
            <button type="button" onclick="window.location.href=`/api/auth/logout`"><i>&#xe104b;</i>LogOut</button>
        <% } %>
        <div class="links">
            <a href="/privacy">Privacy</a>
            <span>|</span>
            <a href="/terms">Terms & conditions</a>
        </div>
    </div>
</section>
<div class="userOverlay" id="userOverlay" onclick="openUserMenu()"></div>

<!-- Carrito de compras -->
<section id="cartDrawer" class="cartDrawer">
    <div class="cart-header">
        <h2>Your bag</h2>
        <button onclick="toggleCart()" class="closeButton">&#xe1105;</button>
    </div>
    
    <div class="cart-items-container">        
        <ul id="cartItemsContainer">
            <li>Your bag is empty.</li>
        </ul>
    </div>

    <div class="cart-footer">
        <div class="subtotal">
            <span>Subtotal</span>
            <span id="cartSubtotal">$0.00</span>
        </div>
        <button onclick="window.location.href='/checkout'" class="btn btn-primary btn-block"><i>&#xe111c;</i>Checkout</button>
    </div>
</section>
<div id="cartOverlay" class="cartOverlay" onclick="toggleCart()"></div>

<% if(!userSession) { %>
    <section class="signupDrawer" id="signupDrawer">
        
    </section>
    <div class="signupOverlay" id="signupOverlay"></div>
<% } %>